.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
 } 
.title{
   grid-column: 2 / 3;
   grid-row: 1;
    
    
}
.game-board{
    grid-column: 2 / 3;
    grid-row: 2;
  
}
.leftPanel{
    grid-column: 1;
    grid-row: 2;
   
}
.foot{
    grid-column: 2 / 3;
    grid-row: 3;
}
.rightPanel{
grid-column: 4;
   grid-row: 2;

}
button {
    display: block;
    padding: 10px;
    width: 100px;
    margin: 15px;
    background-color: red;
    border-radius: 50px;
}
button:focus {
    outline: none;
}
button:hover{
    background-color: yellow;
}
.play{
    color: white;
    font-size: 65px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: white;    
    
}

/*
#pOne{
    border: 2px solid black;
}
#pTwo{
    border: 2px solid black;
}

#board{
    /* background-color: green; */
}
.instructions, .object{
    text-align: center;
    text-decoration: underline
} */
/* gameMode{
    border: 1px solid black;
    text-align: center; */
}


