html{
    background-color: beige;
}
#content{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 175px 2fr 1fr;
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(175px, auto);
    
 } 
 /* #content div:nth-child(even){
     background: #777
 } */
.title{
   grid-column: 2 / 5;
   grid-row: 1;
   text-align: center;
   margin: 0 auto;
   height: 50%;
   font-family: Raleway, sans-serif;
   font-weight: bolder;
    
    
}
.game-board{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: green;
  
}
.leftPanel{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid black;
   height: 100%;
   background-color: yellow;    
}
.foot{
    grid-column: 1 / 6;
    grid-row: 3;
    text-align: center;
    margin: 200px auto 0px auto;
   
}
.rightPanel{
    grid-column: 5 / 6;
   grid-row: 2;
   border: 1px solid black;
   height: 100%;
   background-color: aliceblue;

}
.grid{
    display: grid;
    
}
.gridrow{
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
}
button {
    display: block;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
    background-color: red;
    border-radius: 50px;
    font-family: Raleway, sans-serif;
}
button:focus {
    outline: none;
}
button:hover{
    background-color: green;
}
#redPlay{
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: Raleway, sans-serif;
}
#yellPlay{
    color: rgb(212, 212, 10);
    text-align: center;
    text-decoration: underline; 
    font-family: Raleway, sans-serif;
}
/* .play{
    color: white;
    font-size: 65px;
    width: 150px;
    height: 100px;
    padding: 0px;
    background-color: white; 
    border: 1px solid black;   
    
} */
.twitlogo{
  width: 45px;
  height: 50px;
;
}
.gitlogo{
    width: 120px;
    height: 50px;
}

.linkedin{
    width: 50px;
    height: 50px;
}


h5 { 
    font-size: 15px;
    font-family: Raleway, sans-serif;
}

.instructions, .object{
    text-align: center;
    text-decoration: underline
}
p{
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 15px
}
h4{
    text-align: center;
    text-decoration: underline;
    font-family: Raleway, sans-serif;

}

/*
#pOne{
    border: 2px solid black;
}
#pTwo{
    border: 2px solid black;
}



/* gameMode{
    border: 1px solid black;
    text-align: center; */
}


